@keyframes sepia {
    from {
        filter: sepia(0%);
    }
    to{
        filter: sepia(5%);
    }
}
@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.carousel_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 50px;
    height: 850px;
    width: 100%;
}
.carousel:hover{
    cursor: pointer;
    animation: sepia 1s forwards;
}
.carousel_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel_card{
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.8);
    transition: 0.5s ease-in-out;
}
.carousel_card-active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}
.card_image{
    width: 100%;
    object-fit: cover;
}
.card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.containerContent{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.card_content{
    color: #333;
    font-size: 30px;
    background-color: white;
    opacity: 0.9;
    color: #333;
    padding: 15px;
    width: 35%;
    border-radius: 15px 15px 15px 15px;
    font-style: italic;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.carousel_arrow_left, .carousel_arrow_right{
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carousel_arrow_left{
    left: 15px;
    font-size: 40px;
    width: 40px;
    height: 40px;
}
.carousel_arrow_right{
    right: 15px;
    font-size: 40px;
    width: 40px;
    height: 40px;
}
.carousel_arrow_right:hover{
    font-size: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.carousel_arrow_left:hover{
    font-size: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.carousel_pagination{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}
.pagination_dot{
    height: 10px;
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.pagination_dot:hover{
    transform: scale(1.2);
}

.pagination_dot-active{
    background-color: black;
}

@media screen and (max-width: 1311px){
    .card_content{
        font-size: 25px;
    }
    .carousel{
        height: 700px;
    }
}
@media screen and (max-width: 1089px){
    .card_content{
        font-size: 20px;
        width: 50%;
    }
    .carousel{
        height: 500px;
    }
    .carousel_arrow_left{
        height: 30px;
        width: 30px;
        font-size: 30px;
    }
    .carousel_arrow_right{
        height: 30px;
        width: 30px;
        font-size: 30px;
    }
    .carousel_arrow_right:hover{
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
    .carousel_arrow_left:hover{
        font-size: 40px;
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 954px){
    .carousel_arrow_left, .carousel_arrow_right{
        top: 55%;
    }
}
@media screen and (max-width: 814px){
    .carousel_arrow_left{
        height: 25px;
        width: 25px;
        font-size: 25px;
    }
    .carousel_arrow_right{
        height: 25px;
        width: 25px;
        font-size: 25px;
    }
    .carousel_arrow_right:hover{
        font-size: 35px;
        width: 35px;
        height: 35px;
    }
    .carousel_arrow_left:hover{
        font-size: 35px;
        width: 35px;
        height: 35px;
    }
    .card_content{
        font-size: 20px;
        width: 65%;
    }
}
@media screen and (max-width: 644px){
    .card_content{
        font-size: 17px;
        width: 80%;
    }
}
@media screen and (max-width: 499px){
    .carousel_arrow_left{
        height: 15px;
        width: 15px;
        font-size: 15px;
        padding: 10px;
    }
    .carousel_arrow_right{
        height: 15px;
        width: 15px;
        font-size: 15px;
        padding: 10px;
    }
    .carousel_arrow_right:hover{
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    .carousel_arrow_left:hover{
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    .card_content{
        width: 90%;
    }
}
@media screen and (max-width: 360px){  
    .card_content{
        font-size:16px;
    }
}
@media screen and (max-width: 316px){  
    .carousel_arrow_left, .carousel_arrow_right{
        top: 90%;
    }
}