body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{
  background: no-repeat center/cover;
  position: relative;
  height: 100vh;
}
.img-about{
  background: no-repeat center/cover;
  position: relative;
  height: 100vh;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
@media screen and (max-width: 2000px){
  .img-portfolio{
  height: 500vh;
}
@media screen and (max-width: 1785px){
  .img-about{
    height: 260vh;
  }
}
}
@media screen and (max-width: 1629px){
  .img-portfolio{
  height: 570vh;
}
.img-about{
  height: 280vh;
}
}
@media screen and (max-width: 1392px){
  .img-portfolio{
  height: 590vh;
}
}
@media screen and (max-width: 1218px){
  .img-portfolio{
  height: 600vh;
}
}
@media screen and (max-width: 1153px){
  .img-portfolio{
  height: 610vh;
}
}
@media screen and (max-width: 1088px){
  .img-portfolio{
  height: 550vh;
}
}
@media screen and (max-width: 1061px){
  .img-portfolio{
  height: 570vh;
}
}
@media screen and (max-width: 974px){
  .img-portfolio{
  height: 590vh;
}
}
@media screen and (max-width: 922px){
  .img-portfolio{
  height: 610vh;
}
}
@media screen and (max-width: 841px){
  .img-portfolio{
  height: 630vh;
}
}
@media screen and (max-width: 764px){
  .img-portfolio{
  height: 650vh;
}
}
@media screen and (max-width: 732px){
  .img-portfolio{
  height: 670vh;
}
}
@media screen and (max-width: 692px){
  .img-portfolio{
  height: 680vh;
}
}
@media screen and (max-width: 663px){
  .img-portfolio{
  height: 700vh;
}
}
@media screen and (max-width: 616px){
  .img-portfolio{
  height: 720vh;
}
}
@media screen and (max-width: 595px){
  .img-portfolio{
  height: 740vh;
}
}
@media screen and (max-width: 568px){
  .img-portfolio{
  height: 760vh;
}
}
@media screen and (max-width: 554px){
  .img-portfolio{
  height: 780vh;
}
}
@media screen and (max-width: 525px){
  .img-portfolio{
  height: 800vh;
}
}
@media screen and (max-width: 508px){
  .img-portfolio{
  height: 820vh;
}
}
@media screen and (max-width: 460px){
  .img-portfolio{
  height: 840vh;
}
}
@media screen and (max-width: 443px){
  .img-portfolio{
  height: 860vh;
}
}
@media screen and (max-width: 429px){
  .img-portfolio{
  height: 890vh;
}
}
@media screen and (max-width: 414px){
  .img-portfolio{
  height: 750vh;
}
}
@media screen and (max-width: 396px){
  .img-portfolio{
  height: 770vh;
}
}
@media screen and (max-width: 384px){
  .img-portfolio{
  height: 790vh;
}
}
@media screen and (max-width: 367px){
  .img-portfolio{
  height: 810vh;
}
}
@media screen and (max-width: 355px){
  .img-portfolio{
  height: 830vh;
}
}
@media screen and (max-width: 345px){
  .img-portfolio{
  height: 850vh;
}
}
@media screen and (max-width: 338px){
  .img-portfolio{
  height: 880vh;
}
}
@media screen and (max-width: 322px){
  .img-portfolio{
  height: 900vh;
}
}
@media screen and (max-width: 317px){
  .img-portfolio{
  height: 920vh;
}
}
@media screen and (max-width: 302px){
  .img-portfolio{
  height: 940vh;
}
}
@media screen and (max-width: 296px){
  .img-portfolio{
  height: 960vh;
}
}
@media screen and (max-width: 284px){
  .img-portfolio{
  height: 980vh;
}
}
@media screen and (max-width: 280px){
  .img-portfolio{
  height: 1000vh;
}
}
@media screen and (max-width: 275px){
  .img-portfolio{
  height: 1020vh;
}
}
@media screen and (max-width: 270px){
  .img-portfolio{
  height: 1040vh;
}
}
@media screen and (max-width: 265px){
  .img-portfolio{
  height: 1060vh;
}
}
@media screen and (max-width: 257px){
  .img-portfolio{
  height: 1080vh;
}
}
@media screen and (max-width: 226px){
  .img-portfolio{
  height: 1100vh;
}
}
@media screen and (max-width: 222px){
  .img-portfolio{
  height: 1120vh;
}
}
@media screen and (max-width: 216px){
  .img-portfolio{
  height: 1140vh;
}
}
@media screen and (max-width: 212px){
  .img-portfolio{
  height: 1160vh;
}
}