body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{
  background: no-repeat center/cover;
  position: relative;
  height: 100vh;
}
.img-portfolio{
  height: 410vh;
}
.img-portfolio-space{
  height: 120vh;
}
.img-residential{
  height: 100vh;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
@media screen and (max-width: 2000px){
  .img-portfolio{
  height: 430vh;
}
}
@media screen and (max-width: 1600px){
  .img-portfolio{
  height: 475vh;
}
}
@media screen and (max-width: 1088px){
  .img-portfolio{
  height: 450vh;
}
}
@media screen and (max-width: 1036px){
  .img-portfolio{
  height: 450vh;
}
}
@media screen and (max-width: 974px){
  .img-portfolio{
  height: 420vh;
}
}
@media screen and (max-width: 857px){
  .img-portfolio{
  height: 430vh;
}
}
@media screen and (max-width: 831px){
  .img-portfolio{
  height: 450vh;
}
}
@media screen and (max-width: 736px){
  .img-portfolio{
  height: 470vh;
}
}
@media screen and (max-width: 692px){
  .img-portfolio{
  height: 490vh;
}
}
@media screen and (max-width: 647px){
  .img-portfolio{
  height: 500vh;
}
}
@media screen and (max-width: 609px){
  .img-portfolio{
  height: 510vh;
}
}
@media screen and (max-width: 594px){
  .img-portfolio{
  height: 530vh;
}
}
@media screen and (max-width: 562px){
  .img-portfolio{
  height: 550vh;
}
}
@media screen and (max-width: 520px){
  .img-portfolio{
  height: 570vh;
}
}
@media screen and (max-width: 508px){
  .img-portfolio{
  height: 590vh;
}
}
@media screen and (max-width: 488px){
  .img-portfolio{
  height: 520vh;
}
}
@media screen and (max-width: 470px){
  .img-portfolio{
  height: 540vh;
}
}
@media screen and (max-width: 441px){
  .img-portfolio{
  height: 560vh;
}
}
@media screen and (max-width: 417px){
  .img-portfolio{
  height: 580vh;
}
}
@media screen and (max-width: 414px){
  .img-portfolio{
  height: 500vh;
}
}
@media screen and (max-width: 403px){
  .img-portfolio{
  height: 450vh;
}
}
@media screen and (max-width: 388px){
  .img-portfolio{
  height: 470vh;
}
}
@media screen and (max-width: 356px){
  .img-portfolio{
  height: 490vh;
}
}
@media screen and (max-width: 330px){
  .img-portfolio{
  height: 510vh;
}
}
@media screen and (max-width: 312px){
  .img-portfolio{
  height: 530vh;
}
}
@media screen and (max-width: 297px){
  .img-portfolio{
  height: 550vh;
}
}
@media screen and (max-width: 280px){
  .img-portfolio{
  height: 570vh;
}
}