body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/portfolio.jpg");
  background-image: center/cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{
  background: no-repeat center/cover;
  position: relative;
  height: 100vh;
}
.img-portfolio{
  height: 270vh;
}
.img-portfolio-space{
  height: 120vh;
}
.img-residential{
  height: 100vh;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
@media screen and (max-width: 810px){
  .img-portfolio-space{
    height: 130vh;
  }
}
@media screen and (max-width: 732px){
  .img-portfolio-space{
    height: 150vh;
  }
}

@media screen and (max-width: 692px){
  .img-portfolio{
      height: 280vh;
  }
}
@media screen and (max-width: 616px){
  .img-portfolio{
    height: 300vh;
  }
}
@media screen and (max-width: 616px){
  .img-portfolio-space{
    height: 160vh;
  }
}
@media screen and (max-width: 565px){
  .img-portfolio{
    height: 320vh;
  }
}
@media screen and (max-width: 543px){
  .img-portfolio-space{
    height: 180vh;
  }
}
@media screen and (max-width: 512px){
  .img-portfolio{
    height: 330vh;
  }
}
@media screen and (max-width: 499px){
  .img-portfolio{
    height: 290vh;
  }
  .img-portfolio-space{
      height: 150vh; 
  }
  .img-residential{
    height: 80vh;
  }
}